<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>RaspCloud|Version</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link href="/css/bootstrap-responsive.css" rel="stylesheet">
<link rel="stylesheet" href="/css/share.css">
</head>
<body>
	<div class="main-area">
    <h2 style="text-align: center">RaspCloud</h2>
    <button class="btn btn-default" onclick="history.back()">←返回</button>
    <div class="lead" style="margin: 50px;">
    	<p>Version:1.0</p>
    	<p>Team:</p>
    	<p>All rights reserved.</p>
    	<p>2014</p>
    </div>
</div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery-2.1.0.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.metadata.js"></script>