<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>RaspCloud|文件共享</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
<!-- Bootstrap -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link href="/css/bootstrap-responsive.css" rel="stylesheet">
<link rel="stylesheet" href="/css/share.css">
</head>

<body>
<div class="main-area">
    <h2 id="header-text">分享的文件</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>文件/文件夹</th>
                    <th>用户</th>
                    <th width="200px"></th>
                </tr>
                {% for item in sharelist %}
                <tr>
                    <td>{{item.filename}}</td>
                    <td>{{item.user}}</td>
                    <td>
                    {% ifequal username item.user%}
                    <button class="btn btn-warning" value="{{item.filename}}" onclick="cancelshare(this)" path="{{item.path}}">取消共享</button>
                    {% endifequal %}
                    <button class="btn btn-success" onclick="download(this)" path="{{item.path}}">下载</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <button class="btn btn-default" onclick="history.back()">←返回</button>
</div>
</body>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery-2.1.0.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.metadata.js"></script>
<script src="/js/share.js"></script>
